	
	.table{
 		background-color: lightblue;
 		color:brown;

 	}
	.td{
	 	text-align: right;
	 	width: 1%;
	 }
	.th{
		text-align: left;
		width: 30%;
	}
	.a{
		text-decoration: none;
		color:brown;
		

	}