
	.desenvolvedores{
		font-size:200%;
		position: relative;
		color: brown;
		
	}
	
	.td{
	 	text-align: right;
	 	
	 }
	.th{
		text-align: left;
		
	}
  
	.a{
		text-decoration: none;
		color:brown;
		font-size: 90%;

	}
html, body {height:100%;}

.geral {
    min-height:100%;
    position:relative;
   
}

.footer {
	position: absolute;
	background-color: lightblue; 
	width:auto;
	bottom:0;
}

.content {overflow:hidden;}
.aside {width:200px;}
.fleft {float:left;}
.fright {float:right;}
