
#missao{
	width: 250px;
	height:relative;
	padding: 15px;
	background-color:lightblue;
	box-shadow: 0 2px 30px #000;
	text-align: justify;
	color: brown;
}
#missao{
	position: relative;
  	top: 15px;
  	left: 110px;
}
#missao:hover{
	width: 250px;
	height:relative;
	padding: 15px;
	background-color:#009cff;
	box-shadow: 0 2px 30px #000;
	text-align: justify;
	color: brown;
}

#valores{
	width: 250px;
	height:relative;
	padding: 15px;
	background-color:lightblue;
	box-shadow: 0 2px 15px #000;
	text-align: justify;
	color: brown;
}
#valores{
	position: relative;
  	top: -257px;
  	left: 500px;
}
#valores:hover{
	width: 250px;
	height:relative;
	padding: 15px;
	background-color:#009cff;
	box-shadow: 0 2px 5px #000;
	text-align: justify;
	color: brown;
}
#visao{
	width: 250px;
	height:relative;
	padding: 15px;
	background-color:lightblue;
	box-shadow: 0 2px 15px #000;
	text-align: justify;
	color: brown;
}
#visao{
	position: relative;
  	top: -555px;
  	left: 875px;
}
#visao:hover{
	width: 250px;
	height:relative;
	padding: 15px;
	background-color:#009cff;
	box-shadow: 0 2px 5px #000;
	text-align: justify;
	color: brown;
}
    h3{
		text-align: relative;
		font-size: 200%;
		
	}

	p{
		
		font-size: 155%;
		font-style:italic;
	}
/* 	img{
	margin-left: 44%;
} */
body{
		background-image: url("../img/sobre.jpg");
		background-repeat: no-repeat;	
	}
*/