	h1{
		
		text-align: center;
	}

	p{

		text-align: center;
		font-size: 150%;
	}

	img{

		margin-left: 44%;
	}

	button{

		padding: 1% 2%;
		text-decoration: none;
		background-color: lightblue;
		font-size: 150%;
		border-radius: 10%;
		color: brown;
		font-weight: bold;


	}