/*}
	table{
 		background-color: lightblue;
 		color:brown;

 	}
	td{
	 	text-align: right;
	 	width: 1%;
	 }
	th{
		text-align: left;
		width: 30%
	}
	a{
		text-decoration: none;
		color:brown;
		font-size: 150%;

	}
	h1{
		font-size: 250%;

	}*/
	h2{
		font-size:200%;
		position: relative;
	}

	*  {
    margin:0;
    padding:0;
  }
  
	a{
		text-decoration: none;
		color:brown;
		font-size: 90%;

	}
html, body {height:100%;}

.geral {
    min-height:100%;
    position:relative;
    width:1000px;
}

.footer {
    position:absolute;
    bottom:0;
    width:100%;
}

.content {overflow:hidden;}
.aside {width:200px;}
.fleft {float:left;}
.fright {float:right;}
