	body{
		background: url('img/sala.jpg');
		
	}
	table{
 		background-color: lightblue;
 		color:brown;

 	}
	td{
	 	text-align: right;
	 	width: 1%;
	 }
	th{
		text-align: left;
		width: 30%
	}
	a{
		text-decoration: none;
		color:brown;
		font-size: 150%

	}
	h1{
		font-size: 250%;

	}

	/*h1{

		text-align: center;
		font-size: 280%;
		background-color: lightblue;
		color: brown;
		font-size: italic;

	}
	.back{
		width: 100%;
		height: auto;
	}
	#botoes{
		width: 700px;
		height: 69px;
		margin-left: auto;
		margin-right: auto;
		margin-top: auto;
		margin-bottom: auto;
	}

	button{

		padding: 2% 3%;
		text-decoration: none;
		background-color: lightblue;
		font-size: 200%;
		border-radius: 15%;
		color: brown;
		font-size: italic;
		float:left;

	}
	 .entrar{
		top: 10%;
		left:75%;
	}
	.cadastrar{
		top: 10%;
		left:60%;
	}
	.sobre{
		top: 25%;
		left:60%;
	}
	.sair{
		top: 25%;
		left:75%;
		} */
